.App {
  text-align: center;
}

.fish-stream {
  width: 100%;
  height: auto;
}

.header {
  background-color: lightblue;
  margin-bottom: 0;
}

.footer {
  background-color: lightgrey;
  margin-bottom: 0;
}
